<?xml version="1.0"?>
<!--
/**
 * Copyright © Rob Aimes - https://aimes.dev
 * https://github.com/robaimes
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <search>
                <enable_voice_search>1</enable_voice_search>
                <skip_suggestions>0</skip_suggestions>
            </search>
        </catalog>
    </default>
</config>
